{{!< default}}

<div id="latest-post" class="container">
    <article class="{{post_class}}">
        <header class="post-header">
            <h1 class="post-title">{{posts.0.title}}</h1>

            <p class="post-date"><time datetime="{{posts.0.published_at}}">Published {{date posts.0.published_at format="MMMM Do YYYY"}}</time></p>
        </header>

        <div class="post-content">
            {{{posts.0.html}}}
        </div>
    </article>
</div>

<div id="post-index" class="container">
    <ol class="post-list">
        {{#foreach posts}}
            <li class="post-stub">
                <a class="js-ajax-link"  title="{{title}}" href="{{url}}">
                    <h4 class="post-stub-title">{{title}}</h4>

                    <time class="post-stub-date" datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}}</time>
                </a>
            </li>
        {{/foreach}}
    </ol>

    <div class="post-navigation">
        {{pagination}}
    </div>
</div>
