{{!< default}}

<div id="latest-post" class="container">
    {{#foreach posts}}
        {{#if @first}}
            <article class="post-container {{post_class}}">
                <header class="post-header">
                    <h1 class="post-title">{{title}}</h1>

                    <p class="post-date"><time datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}}</time></p>
                </header>

                <div class="post-content">
                    {{{content}}}

                    {{#if tags}}
                        <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
                    {{/if}}
                </div>
            </article>
        {{/if}}
    {{/foreach}}
</div>

<div id="post-index" class="container">
    <ol class="post-list">
        {{#foreach posts}}
            <li class="post-stub {{post_class}}" >
                <a class="js-ajax-link"  title="{{title}}" href="{{url}}">
                    <h4 class="post-stub-title">{{title}}</h4>

                    <time class="post-stub-date" datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}}</time>

                    {{#if featured}}
                        <span class="post-stub-tag">Featured</span>
                    {{/if}}
                </a>
            </li>
        {{/foreach}}
    </ol>

    <div class="post-navigation">
        {{pagination}}
    </div>
</div>
