{{!< default}}

<div class="container">
    {{#post}}
        <article class="post-container {{post_class}}">
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>

                <p class="blog-description">{{@blog.description}}</p>
            </header>

            <div class="post-content clearfix">
                {{#if image}}
                    <img class="post-featured-image" src="{{image}}">
                {{/if}}

{{! No indention to prevent handlebars indenting <pre> tag content}}               
{{{content}}}

                {{#if tags}}
                    <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
                {{/if}}
            </div>
        </article>
    {{/post}}
</div>
